template(name="layout")
  .container-fluid
    .col-sm-4.col-sm-offset-4.col-xs-12(style="text-align:center")
      h1 snow#[strong ball] 
      img(id="snowball-gif" src="snowball.gif")
      br
      
      +loginButtons
      
      br
      
      if currentUser
        button.btn.btn-default.btn-block.createSB(type="submit").
          Start a Snowball
      else
        p Sign up or Log in 
        
    .col-xs-12.content
      +yield
