template(name="snowball")

  .container.col-xs-12
        
    h2 #{topic}
    h4 Velocity: #{velocity},
    if currentUser
      button.btn.btn-xs.btn-info.btn-roll(value="{{_id}}").
        Keep It Rolling!
